<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <!--开发环境-->
        <link href="~/lib/view-design/dist/styles/iview.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <!--正式环境-->
        <link rel="stylesheet" href="http://unpkg.com/view-design/dist/styles/iview.css"
              asp-fallback-href="~/lib/view-design/dist/styles/iview.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" type="text/css">
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <environment include="Development">
        <!--开发环境-->
        <script src="~/lib/vue/dist/vue.min.js"></script>
        <script src="~/lib/view-design/dist/iview.min.js"></script>
    </environment>
    <environment exclude="Development">
        <!--正式环境-->
        <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"
                asp-fallback-src="~/lib/vue/dist/vue.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha512-q+NIXqzIsUw5mmxybfR/68Z87XjBo4ordsa+N3T6zhvRs/nFmxidaR6uVUPYvR70H+fDr6vmU8ELSsxwup+Wtg=="></script>
        <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"
                asp-fallback-src="~/lib/view-design/dist/iview.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"  
                integrity="sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg=="></script>
    </environment>
</body>
</html>
